# NetBeans
/nbproject/private/
/build/
/dist/

# Java
*.class
*.jar
*.war
*.ear

# Tomcat / uploads
/uploads/
/web/uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.github/prompts/*

# Config
src/java/database.properties