# NetBeans
/nbproject/private/
/build/

# Java
*.class
*.jar
*.ear

# Tomcat / uploads
/uploads/
/web/uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.antigravitycli
sistemas-solicitudes-academicas.iml

# Config
src/java/database.properties